[submodule "websocket-sharp"]
	path = websocket-sharp
	url = https://github.com/sta/websocket-sharp
[submodule "raven-csharp"]
	path = raven-csharp
	url = https://github.com/qdot/raven-csharp
[submodule "buttplug-schema"]
	path = buttplug-schema
	url = https://github.com/metafetish/buttplug
