<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Buttplug Global Rule Set" Description=" " ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1591" Action="Info" />
    <Rule Id="CS4014" Action="Error" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="Info" />
    <Rule Id="SA0002" Action="Error" />
    <Rule Id="SA1000" Action="Error" />
    <Rule Id="SA1001" Action="Error" />
    <Rule Id="SA1002" Action="Error" />
    <Rule Id="SA1003" Action="Error" />
    <Rule Id="SA1004" Action="Error" />
    <Rule Id="SA1005" Action="None" />
    <Rule Id="SA1006" Action="Error" />
    <Rule Id="SA1007" Action="Error" />
    <Rule Id="SA1008" Action="Error" />
    <Rule Id="SA1009" Action="Hidden" />
    <Rule Id="SA1010" Action="Error" />
    <Rule Id="SA1011" Action="Error" />
    <Rule Id="SA1012" Action="Error" />
    <Rule Id="SA1013" Action="Error" />
    <Rule Id="SA1014" Action="Error" />
    <Rule Id="SA1015" Action="Error" />
    <Rule Id="SA1016" Action="Error" />
    <Rule Id="SA1017" Action="Error" />
    <Rule Id="SA1018" Action="Error" />
    <Rule Id="SA1019" Action="Error" />
    <Rule Id="SA1020" Action="Error" />
    <Rule Id="SA1021" Action="Error" />
    <Rule Id="SA1022" Action="Error" />
    <Rule Id="SA1023" Action="Error" />
    <Rule Id="SA1024" Action="Error" />
    <Rule Id="SA1025" Action="Error" />
    <Rule Id="SA1026" Action="Error" />
    <Rule Id="SA1028" Action="Error" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1111" Action="Info" />
    <Rule Id="SA1116" Action="Hidden" />
    <Rule Id="SA1117" Action="Hidden" />
    <Rule Id="SA1200" Action="Error" />
    <Rule Id="SA1201" Action="Info" />
    <Rule Id="SA1202" Action="Info" />
    <Rule Id="SA1203" Action="Info" />
    <Rule Id="SA1300" Action="Hidden" />
    <Rule Id="SA1302" Action="Error" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1401" Action="Hidden" />
    <Rule Id="SA1402" Action="Info" />
    <Rule Id="SA1500" Action="Error" />
    <Rule Id="SA1503" Action="Error" />
    <Rule Id="SA1505" Action="Error" />
    <Rule Id="SA1508" Action="Error" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1600" Action="Info" />
    <Rule Id="SA1601" Action="Info" />
    <Rule Id="SA1602" Action="Info" />
    <Rule Id="SA1604" Action="Info" />
    <Rule Id="SA1605" Action="Info" />
    <Rule Id="SA1606" Action="Info" />
    <Rule Id="SA1607" Action="Info" />
    <Rule Id="SA1608" Action="Info" />
    <Rule Id="SA1609" Action="Info" />
    <Rule Id="SA1610" Action="Info" />
    <Rule Id="SA1611" Action="Info" />
    <Rule Id="SA1612" Action="Info" />
    <Rule Id="SA1613" Action="Info" />
    <Rule Id="SA1614" Action="Info" />
    <Rule Id="SA1615" Action="Info" />
    <Rule Id="SA1616" Action="Info" />
    <Rule Id="SA1617" Action="Info" />
    <Rule Id="SA1618" Action="Info" />
    <Rule Id="SA1619" Action="Info" />
    <Rule Id="SA1620" Action="Info" />
    <Rule Id="SA1621" Action="Info" />
    <Rule Id="SA1622" Action="Info" />
    <Rule Id="SA1623" Action="Info" />
    <Rule Id="SA1624" Action="Info" />
    <Rule Id="SA1625" Action="Info" />
    <Rule Id="SA1626" Action="Info" />
    <Rule Id="SA1627" Action="Info" />
    <Rule Id="SA1633" Action="Info" />
    <Rule Id="SA1634" Action="Info" />
    <Rule Id="SA1635" Action="Info" />
    <Rule Id="SA1636" Action="Info" />
    <Rule Id="SA1637" Action="Info" />
    <Rule Id="SA1638" Action="Info" />
    <Rule Id="SA1640" Action="Info" />
    <Rule Id="SA1641" Action="Info" />
    <Rule Id="SA1642" Action="Info" />
    <Rule Id="SA1643" Action="Info" />
    <Rule Id="SA1648" Action="Info" />
    <Rule Id="SA1649" Action="Info" />
    <Rule Id="SA1651" Action="Info" />
  </Rules>
</RuleSet>